# Shark Attack Project

## Objetivo do Projeto:
    - Fazer uma análise descritiva dos ataques de tubarões no mundo.
    - Levantar informações para uma ação de comunicação que visa reduzir a incidência 
    dos ataques.

# Baixando e analisando o arquivo:
--------------------------------------------------------------------------------------------
## Baixar e dar uma olhada no arquivo do Kaggle sobre ataques de tubarão.

In [1]:
import pandas as pd
import numpy as np

In [2]:
atck_full= pd.read_csv('Datas/attacks.csv')
atck_full.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson�McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [9]:
atck_full

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson�McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
atck_full.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [6]:
atck_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

# Limpando os dados:
---------------------------------------------------------------------------------------------

## Ver tudo o que tem no arquivo e começar a limpeza dos dados.

In [122]:
for column in atck_full:
    if atck_full[column].dtypes.type == np.object_:
        print(atck_full[column].describe())

count     8702
unique    6287
top          0
freq      2400
Name: Case Number, dtype: object
count     6302
unique    5433
top       1957
freq        11
Name: Date, dtype: object
count           6298
unique             8
top       Unprovoked
freq            4595
Name: Type, dtype: object
count     6252
unique     212
top        USA
freq      2229
Name: Country, dtype: object
count        5847
unique        825
top       Florida
freq         1037
Name: Area, dtype: object
count                                 5762
unique                                4108
top       New Smyrna Beach, Volusia County
freq                                   163
Name: Location, dtype: object
count        5758
unique       1532
top       Surfing
freq          971
Name: Activity, dtype: object
count     6092
unique    5230
top       male
freq       550
Name: Name, dtype: object
count     5737
unique       6
top          M
freq      5094
Name: Sex , dtype: object
count     3471
unique     157
top         17
freq       154
Name: Age, dtype: object
count      6274
unique     3737
top       FATAL
freq        802
Name: Injury, dtype: object
count     5763
unique       8
top          N
freq      4293
Name: Fatal (Y/N), dtype: object
count          2948
unique          366
top       Afternoon
freq            187
Name: Time, dtype: object
count            3464
unique           1549
top       White shark
freq              163
Name: Species , dtype: object
count               6285
unique              4969
top       C. Moore, GSAF
freq                 105
Name: Investigator or Source, dtype: object
count                                6302
unique                               6291
top       1935.06.05.R-SolomonIslands.pdf
freq                                    2
Name: pdf, dtype: object
count                                                  6301
unique                                                 6290
top       http://sharkattackfile.net/spreadsheets/pdf_di...
freq                                                      2
Name: href formula, dtype: object
count                                                  6302
unique                                                 6285
top       http://sharkattackfile.net/spreadsheets/pdf_di...
freq                                                      4
Name: href, dtype: object
count           6302
unique          6285
top       1990.05.10
freq               2
Name: Case Number.1, dtype: object
count             6302
unique            6286
top       2012.09.02.b
freq                 2
Name: Case Number.2, dtype: object
count                1
unique               1
top       stopped here
freq                 1
Name: Unnamed: 22, dtype: object
count          2
unique         2
top       Teramo
freq           1
Name: Unnamed: 23, dtype: object

### Criando um DataFrame com as colunas que tem dados descritivos de interesse.

In [3]:
atck = (atck_full['Year'], atck_full['Type'], atck_full['Country'], atck_full['Area'],
        atck_full['Activity'],atck_full['Sex '], atck_full['Age'], atck_full['Injury'],
        atck_full['Fatal (Y/N)'], atck_full['Time'], atck_full['Species '])

In [4]:
atck = pd.DataFrame(atck)
atck = atck.transpose()
atck.head()

,Year,Type,Country,Area,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species
0,2018.0,Boating,USA,California,Paddling,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark
1,2018.0,Unprovoked,USA,Georgia,Standing,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN
2,2018.0,Invalid,USA,Hawaii,Surfing,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN
3,2018.0,Unprovoked,AUSTRALIA,New South Wales,Surfing,M,NaN,Minor injury to lower leg,N,NaN,2 m shark
4,2018.0,Provoked,MEXICO,Colima,Free diving,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m"

In [6]:
print(atck['Year'].describe())
print('')
print(atck['Year'].value_counts())

count     6300.0
unique     249.0
top       2015.0
freq       143.0
Name: Year, dtype: float64

2015.0    143
2017.0    136
2016.0    130
2011.0    128
2014.0    127
         ...
1807.0      1
1805.0      1
1804.0      1
1802.0      1
1791.0      1
Name: Year, Length: 249, dtype: int64

In [5]:
# Transformar a coluna 'Year' (nossa variável chave), de object para float
atck['Year'] = atck['Year'].astype(float, errors = 'raise')

# A primeira linha está classificado como 'No Shark involvement', vou deletar. 
# IMPORTANTE: depois ver se tem mais 'No Shark involvement' na coluna 'Injury'!!!
atck = atck.drop(0, axis = 0)
atck = atck.reset_index(drop = True)

atck.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25722 entries, 0 to 25721
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Year         6299 non-null   float64
 1   Type         6297 non-null   object
 2   Country      6251 non-null   object
 3   Area         5846 non-null   object
 4   Activity     5757 non-null   object
 5   Sex          5736 non-null   object
 6   Age          3470 non-null   object
 7   Injury       6273 non-null   object
 8   Fatal (Y/N)  5762 non-null   object
 9   Time         2947 non-null   object
 10  Species      3463 non-null   object
dtypes: float64(1), object(10)
memory usage: 2.2+ MB

## Criar um DataFrame: data mais recente para a mais antiga, ordenado pela idade de forma crescente.

In [6]:
# Organizar a tabela de acordo com o ano em que aconteceu o ataque, em ordem decrescente -
# e pela idade em ordem crescente
# Resetar a indexação das linhas
atck = atck.sort_values(['Year', 'Age'], ascending = [False, True])
atck = atck.reset_index(drop = True)

# Criar uma coluna com a indexação do DataFrame para facilitar a encontrar os erros depois
atck['index'] = atck.index

In [17]:
# Identificando todos as linhas múltiplas. Vou achar uma 'na raça' e ver como resolver.
# Depois fazer um regex para identificar todos esses casos.
for i in atck['Age']:
    print(i)

11
48
nan
nan
nan
18
52
15
12
32
10
10
21
34
nan
nan
nan
30
nan
nan
60
nan
32
33
29
54
34
41
37
nan
56
nan
12
19
25
10
69
18
38
55
34
35
nan
46
45
14
18
40s
nan
28
20
nan
54
35
24
25
26
49
nan
25
14
24
25
22
7
31
nan
nan
17
60
15
nan
nan
54
40
31
nan
nan
33
nan
nan
13
28
25
nan
nan
18
nan
35
nan
nan
42
nan
nan
17
37
3
11
nan
69
nan
13
20
34
nan
15
10
12
nan
nan
37
nan
nan
40
8
40
50
nan
nan
nan
46
32
13
nan
nan
16
nan
14
34
82
nan
nan
48
nan
19
30
nan
32
20
nan
73
41
29
33
18
nan
14
33
28
20s
nan
40
nan
nan
17
28
17
nan
68
35
10
21
16
51
39
17
58
30
nan
25
58
nan
nan
26
26
22
nan
nan
nan
37
21
Teen
55
57
nan
48
35
47
20
16
nan
55
61
40s
19
20
65
73
58
41
42
36
36
nan
66
nan
25
29
21
32
17
16
36
43
43
nan
nan
nan
60s
51
50
12
nan
9
22
nan
25
37
20
49
15
21
22
40
72
nan
43
18
29
36
nan
31
nan
9
11
61
nan
nan
10
nan
59
nan
42
34
35
11
59
43
42
nan
nan
19
6
19
27
64
60
23
nan
nan
29
52
13
57
22
11
48
23
59
39
24
15
nan
12
22
26
26
69
60
34
nan
46
22
Teen
41
9
nan
19
45
12
nan
41
21
31
nan
65
nan
45
40
41
nan
nan
15
nan
nan
48
nan
11
31
nan
38
71
43
32
58
nan
26
22
55
nan
nan
28
20
9
54
28
19
50
10
42
21
21
35
32
44
nan
9
25
nan
18
22
13
14
22
7
nan
14
27
12
16
nan
nan
20
42
50
29
62
nan
37
nan
54
21
nan
38
15
10
22
10
57
52
47
40
25
35
46
31
40
45
34
38
39
nan
23
32
52
32
68
nan
12
18
19
nan
23
43
19
47
6
37
9
36
10
16
12
nan
13
11
17
47
14
19
19
13
18
30
50
nan
nan
29
65
63
26
71
48
13
nan
70
43
23
36
52
58
9
nan
36
18 months
nan
22
41
35
nan
57
20
nan
24
nan
nan
nan
17
38
34
15
12
nan
17
nan
nan
50
40s
nan
17
nan
13
39
nan
nan
44
53
nan
18
34
20
nan
nan
nan
nan
13
7
nan
nan
29
40
15
nan
nan
28
23
nan
36
nan
50
43
20s
52
16
13
17
nan
33
30s
29
nan
nan
nan
31
nan
26
nan
10
7
10
45
50s
8
20
nan
Teen
51
8
nan
61
39
63
nan
14
nan
nan
19
48
42
nan
15
nan
43
16
39
43
14
22
nan
37
29
nan
10
38
35
44
12
nan
40
nan
23
nan
42
25
nan
nan
teen
teen
63
38
66
nan
9
42
42
10
nan
nan
21
21
21
28
nan
28
nan
24
31
nan
nan
37
19
35
29
30
26
57
19
58
35
25
nan
77
16
nan
46
60
24
nan
41
45
25
6
74
55
45
12
50
27
7
45
nan
21
13
nan
43
25
17
3
nan
9
nan
nan
47
50
11
nan
16
nan
20
19
10
nan
17
56
32
40
nan
18
64
50
18
50
teen
15
33
63
48
29
nan
20
nan
nan
14
28
15
nan
nan
10
58
nan
32
11
41
30
29
42
36
16
nan
34
51
9
nan
21
40
53
50
24
58
47
34
nan
50
30
nan
68
28
28 & 26
39
46
nan
nan
16
48
18
nan
nan
62
43
nan
26
nan
23
29
20
32
60
31
25
61
20
32
14
30
43
25
51
39
35
24
55
nan
38
42
11
21
22
52
29
19
25
nan
30s
37
32
8
nan
56
53
34
18
31
nan
56
39
nan
17
48
44
50
12
22
24
23
24
43
nan
42
52
29
60
6
26
16
nan
12
62
16
6
23
18
nan
nan
16
42
57
30
12
25
33
46
22
nan
20
30
47
15
28
20
27
28
nan
33
21
nan
20
61
15
17
nan
34
31
19
42
nan
nan
nan
nan
29
nan
26
nan
24
44
25
53
28
34
nan
nan
23
27
nan
35
51
nan
14
nan
nan
63
18
10
nan
nan
35
42
27
26
nan
32
41
50
nan
nan
64
51
nan
29
27
48
43
21
5
nan
38
17
25
37
30
nan
21
19
19
48
39
nan
21
10
49
16
20s
12
25
32
27
30
7
54
36
14
43
nan
29
6
nan
nan
54
12
14
16
17
28
21
22
10
nan
20
35
15
31
nan
28
24
28
19
nan
22
33
nan
nan
28
86
15
37
nan
43
37
32
17
49
41
nan
27
nan
nan
48
46
30
24
nan
nan
36
21
32
49
nan
58
nan
37
38
25
55
7
16
37
nan
16
nan
46
70
nan
54
46
70
48
47
nan
33
21
nan
nan
20
nan
nan
nan
30
14
19
nan
22
nan
nan
Teen
29
18
29
15
27
24
nan
24
24
34
43
10
31
45
nan
16
47
25
35
nan
nan
37
16
20
10
13
55
9
nan
nan
21
20
19
48
20
6
13
17
18
40
20
49
58
60
nan
59
10
29
68
35
24
34
nan
nan
19
60
46
nan
18
nan
31
38
14
29
nan
54
nan
37
9
nan
nan
nan
32
nan
20
55
27
nan
18
22
nan
24
39
nan
58
49
10
31
22
27
18
25
21
27
nan
17
nan
54
10
23
23
nan
39
nan
nan
nan
34
60
15
nan
nan
nan
25
22
nan
26
nan
56
14
14
41
nan
14
11
26
19
57
nan
nan
37
12
43
52
26
14
nan
nan
nan
50
46
nan
31
49
55
27
48
nan
nan
20
23
52
31
49
40
24
nan
15
59
16
17
nan
nan
17
nan
61
21
19
40
nan
15
nan
nan
33
31
nan
41
nan
49
17
15
nan
19
25
17
nan
nan
nan
24
13
31
nan
22
49
nan
nan
nan
10
29
51
nan
nan
15
nan
nan
nan
nan
nan
nan
45
39
34
24
50
15
11
43
44
40
43
32
40
nan
51
43
15
52
nan
29
27
52
19
26
20
20
47
7
38
13
nan
31
nan
nan
33
nan
17
44
9
8
15
16
nan
52
24
14
17
16
53
42
46
nan
29
37
nan
40
35
14
40
nan
15
14
9
nan
49
21
28
37
40
6
24
24
18
24
32
21
66
14
nan
nan
32
19
30
nan
15
nan
16
18
39
52
nan
13
14
8
27
49
26
25
14
nan
nan
42
20
nan
nan
20
nan
26
24
53
31
teen
34
52
nan
28
32
nan
14
21
42
37
nan
32
52
31
22
16
nan
nan
23
48
nan
18 or 20
nan
nan
23
nan
56
Teen
14
58
36
15
12
58
15
24
54
27
nan
nan
52
16
7
20
15
19
30
9
19
51
20
nan
nan
36
15
14
48
43
30
48
18
17
nan
nan
nan
20
nan
9
nan
nan
nan
40
38
38
19
21
nan
45
63
68
nan
20
13
12
24
nan
26
7
27
9
nan
11
42
nan
59
29
16
36
26
nan
30
nan
41
20
24
nan
54
24
25
10
43
25
15
nan
29
nan
22
15
20
nan
18
26
nan
36
19
nan
16
55
52
44
20
33
12 or 13
37
23
nan
27
17
34
nan
34
nan
24
59
nan
nan
41
nan
15
19
14
nan
nan
49
7
21
nan
40
11
14
13
28
35
9
nan
25
22
27
43
24
7
40
26
nan
31
15
33
30s
nan
20s
46
nan
54
13
35
15
15
35
11
nan
28
17
21
15
15
45
18
nan
nan
15
24
57
46 & 34
34
28, 23 & 30
nan
52
nan
21
21
49
30
29
nan
44
nan
teen
23
nan
18
26
nan
30s
17
nan
32
18
25
26
15
55
20
36
20
15
22
57
48
35
52
28
26
44
nan
68
18
15
18
40
62
21
23
37
17
8
12
nan
16
14
nan
13
61
25
nan
24
nan
22
14
19
16
14
7
nan
49
20
38
11
17
22
6
33
nan
32
nan
nan
nan
Teens
47
25
nan
20
40
70
52
37
nan
nan
32
nan
nan
26
45
51
nan
nan
18
nan
nan
nan
12
19
nan
nan
39
11
18
38
20
16
77
38
30s
nan
40
nan
52
59
nan
34
34
15
16
40
nan
26
nan
nan
17
38
24
nan
50
47
30
nan
20
nan
28
13
19
11
nan
51
30
Teen
7
45
nan
nan
17
8
21
16
17
44
9
9
9
24
63
28
22
nan
nan
nan
nan
57
16
22
26
20
22
nan
20
61
nan
nan
51
47
29
15
nan
31
nan
22
46
21
nan
nan
40
nan
nan
22
nan
nan
nan
nan
28
13
45
36
nan
nan
21
35
35
24
nan
nan
nan
nan
18
22
13
46
56
19
nan
nan
18
30
50
41
40
16
21
19
17
30
36 & 26
8 or 10
18
15
19
nan
nan
50
31
16
37
18
15
58
10
21
39
nan
nan
nan
17
15
nan
12
60
51
33
15
22
18
22
20
34
9
nan
nan
16
17
7
36
17
30
23
18
11
12
20
28
nan
50
nan
44
37
54
24
84
14
nan
nan
18
25
26
11
23
19
nan
48
34
41
21
16
52
60
36
21
14
35
18
47
32
55
�

24
35
19
nan
47
20
36
16
29
27
15
15
30
14
13
15
19
41
22
9
30
11
nan
nan
nan
nan
28
50
10
50
24
16
55
35
nan
14
31
40
20
23
52
34
28
45
43
41
29
17
11
16
20
39
31
44
nan
30 or 36
15
35
20
32
16
nan
26
35
36
49
nan
nan
nan
20
26
31
21
14
42
6�
16
nan
44
13
nan
28
23
20
10
44
29
69
18
18
17
27
32
17
17
20
19
19
43
21 & ?
nan
36
nan
nan
nan
nan
nan
48
18
42
8
nan
35
14
52
75
29
16
11
nan
24
nan
26
33 or 37
45
nan
14
16
12
mid-30s
38
21
12
22
19
22
nan
16
46
nan
26
12
40
nan
nan
12
20
nan
nan
nan
40
35
55
nan
nan
nan
23
47
nan
30
38
nan
28
47
73
27
52
49
27
31
23
56
69
17
23
11
24
nan
17
25
12
31
nan
49
26
25
8
48
28
40
27
nan
47
69
nan
nan
53
27
44
nan
23 & 20
nan
5
45
16
14
15
18
nan
69
13
41
5
12
20
55
13
19
nan
nan
nan
52
nan
17
55
44
13
nan
nan
nan
9
nan
34
nan
nan
26
14
37
35
nan
nan
nan
27
nan
39
27
nan
nan
12
26
nan
35
nan
15
13
12
18
nan
39
35
19
51
nan
35
39
12
12
45
13
nan
16
22
nan
37
61
10
13
7
39
28
nan
23
17
10
62
35
42
43
43
14
nan
30
29
20
21
41
5
22
21
41
52
14
nan
nan
29
nan
28
18
29
nan
35
25
47
nan
nan
37
nan
30
nan
19
21
18
14
21
9
14
13
32
52
22
17
30
nan
17
nan
28
6
18
nan
28
25
26
nan
16
nan
28
11
nan
19
24
nan
13
47
16
10
26
20
18
nan
17
15
16
40
14
24
22
35
50
16
nan
nan
40
33
32
nan
31
nan
nan
21
nan
23
28
nan
nan
39
nan
29
8
42
32
21
51
19
23
12
nan
14
20
12
17
20
18
22
29
28
33
12
17
16
17
nan
10
nan
17
19
19
25
nan
50
55
nan
nan
47
18
nan
33
35
34
12
54
nan
22
21
 30
nan
nan
49
27
41
nan
nan
18
nan
nan
nan
45
26
nan
nan
nan
22
21
31
nan
14
23
19
5
28
28
29
19
36
21
8
52
nan
46
9
nan
18
63
24
24
nan
nan
17
45
22
33
27
nan
11
16
nan
47
7
24
32
nan
nan
14
nan
7
33
13
53
nan
nan
25
nan
nan
nan
22
nan
nan
nan
13
17
15
39
14
17
25
19
19
nan
25
29
32
9
19
44
nan
16
18
16
23
19
nan
18
20
15
20
14
12
nan
nan
nan
nan
18
18
12
7
47
18
14
34
32
nan
31
nan
13
nan
45
10
38
45
29
44
15
69
nan
44
12
20
nan
47
nan
35
nan
22
nan
14
17
33
nan
nan
nan
26
nan
nan
nan
nan
44
42
nan
nan
34
nan
nan
nan
9
16
30
43
7      &    31
12
nan
15
nan
24
22
31
nan
15
30
24
 28
35
36
26
22
25
nan
20?
71
nan
19
nan
33
25
nan
23
nan
15
nan
nan
nan
44
nan
23
33
nan
nan
nan
30
27
nan
nan
26
26
34
nan
21
36
15
17
19
16
69
51
13
nan
nan
19
nan
39
nan
nan
28
12
nan
16
61
42
22
31
34
42
60's
nan
nan
32
nan
25
nan
35
55
nan
nan
nan
69
15
21
32 & 30
29
nan
nan
30
nan
10
30
31
19
24
46
30
40
17
18
40
28
nan
nan
28
nan
20
18
nan
nan
34
17
nan
22
26
nan
nan
42
nan
nan
nan
16
21
nan
nan
45
nan
nan
nan
35
36
17
41
nan
21
nan
nan
19
nan
19
19
36
nan
nan
nan
33
25
41
nan
nan
nan
14
21
32
32
19
36
23
10
nan
40
39
42
22
30
32
13
22
nan
18
31
65
23
nan
nan
nan
22
nan
18
38
20
35
nan
22
nan
26
nan
24
50
18
26
nan
25
43
19
26
49
44
30
22
nan
18
53
17
21
38
nan
30s
30s
22
23
31
37
nan
29
nan
30
nan
nan
33
nan
17
nan
17
27
32
29
nan
10
31
17
nan
12
49
nan
29
51
nan
38
31
46
30
21
21
17
31
41
35
34
nan
16
9
nan
45
nan
16
28
nan
19
nan
nan
nan
nan
27
nan
nan
26
47
24
24
10
19
nan
17
nan
nan
nan
17
62
nan
21
38
15
30
23
15
23
21
nan
38
nan
16
nan
27
nan
28
35
15
37
nan
nan
36
42
37
12
25
38
31
29
nan
nan
24
nan
14
nan
nan
30
nan
17
nan
nan
20
15
nan
22
22
nan
nan
33

nan
12
nan
16
16 to 18
15
nan
20
14
21
nan
47
24
12
40
27
32
16
nan
35
nan
nan
12
nan
34
nan
16
nan
8
18
nan
nan
nan
30
37
nan
nan
nan
21
40
37
27
22
nan
17
26
23
nan
6
32
nan
28
nan
nan
18
16
35
nan
nan
nan
8
26
nan
nan
nan
nan
nan
26
23
21
nan
46
29
29
22
16
nan
nan
nan
nan
24
22
46
33
24
nan
nan
21
nan
17
87
11
67
13
15
nan
10
13
nan
39
25
33
29
16
15
nan
18
nan
34
nan
20
nan
nan
nan
16
13
29
22
23
77
15
25
nan
17
Elderly
16
nan
nan
28
nan
31
nan
13
18
21
30
nan
27
13
20s
28
nan
nan
nan
nan
nan
33
nan
27
14
14
nan
nan
36
17
48
16
47
nan
nan
15
nan
16
20
15
nan
29
14
14
22
nan
21
24
28
nan
39
13
17
42
15
21
30
nan
nan
21
15
22
nan
27
16
nan
17
nan
nan
nan
16
43
nan
22
32
nan
nan
nan
nan
26
16
16
20
36
28
mid-20s
nan
17
18
nan
20
38
26
17
43
19
nan
27
20
19
8
nan
Ca. 33
16
20
nan
32
18
nan
nan
nan
75
nan
29
20
nan
nan
nan
24
nan
nan
nan
nan
59
19
nan
17
24
28
nan
26
25
24
15
19
nan
nan
19
53
16
32
nan
nan
nan
nan
nan
27
27
32
n

## Tirar os elementos da coluna 'Age' que apresentam dúvida de idade. Ex: 18 or 20.
-------------------------------------------------
Vou utilizar a menor idade. Alteração não significativa para a estatística final.

In [7]:
# Encontrar todos os elementos da atck['Age'] com idade 'x or y'
import regex as re

padrão = '[ 0-9]+[ or]+[ 0-9]+'
lista_or = list()
for i in atck['Age']:
    try:
        if i in re.findall(padrão, i):
            lista_or.append(i)
    except:
        None
print(lista_or)
print(len(lista_or))

['18 or 20', '12 or 13', '8 or 10', '30 or 36', '33 or 37', '21 or 26', '25 or 28', '13 or 18', '7 or 8', '8 or 10', '9 or 10', '10 or 12', '31 or 33', '7 or 8', '13 or 14']
15

In [8]:
# Criar uma lista com o index de cada linha de casos múltiplos
lista_index = list()
atck_copy = atck[:]

for i in lista_or:
    g = atck_copy[atck_copy['Age'] == i]
    h = g['index']
    if len(h) == 1:
        lista_index.append(int(h.values))
        atck_copy.drop(int(h.values))
    elif len(h) > 1:
        for i in h:
            ab = h[i]
            lista_index.append(ab)
                
# Apareceram na lista valores dobrados. Vou criar um set para corrigir!

set_index = set(lista_index)
print(set_index)
print(len(set_index))

{1314, 1413, 4037, 4616, 1931, 4812, 6061, 5291, 1776, 3891, 1845, 4471, 5464, 6174, 3166}
15

In [14]:
# Utilizar o set_index para alterar a idade das células dúbias.
for i in set_index:
    atck['Age'].iloc[i] = atck['Age'].iloc[i][0] + atck['Age'].iloc[i][1]

# Células dúbias da coluna 'Age' resolvidas!

C:\Users\guoco\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [17]:
# Confirmando que deu certo...
atck.iloc[4471]

Year                                              1950.0
Type                                          Unprovoked
Country                                        INDONESIA
Area                                     Jakarta Harbour
Activity                                    Bending over
Sex                                                    M
Age                                                   7
Injury                                             FATAL
Fatal (Y/N)                                            Y
Time                                                1500
Species        Tiger shark, 3.7 m to 4.3 m  [12' to 14']
index                                               4471
Name: 4471, dtype: object

## Dividindo informações múltiplas em uma mesma linha
----------------------------------------------------------------------------------
Encontrei algumas linhas com informações multiplas, ou seja, mais de um acidente registrado em uma única informação.

### Começar identificando todas as linhas com informações múltiplas. 
 - Encontrar as linhas com informações múltiplas
 - Registrar a indexação delas
 - Separar a informação múltipla em informações únicas

In [173]:
# Encontrar as linhas que tem 2 vítimas registradas

import regex as re

padrão = '[ 0-9]+[, &]+[ 0-9]+'
lista_mult2 = list()
for i in atck['Age']:
    try:
        if i in re.findall(padrão, i):
            lista_mult2.append(i)
    except:
        None
print(lista_mult2)
print(len(lista_mult2))

['28 & 26', '46 & 34', '36 & 26', '23 & 20', '7      &    31', '32 & 30', '9 & 12', '23 & 26', '33 & 37', '30 & 32', '17 & 35', '33 & 26', '34 & 19', '50 & 30', '17 & 16', '36 & 23']
16

In [179]:
# Econtrar a indexação com as informações das linhas com informações múltiplas com 2 vítimas
# Vou precisar dessa informação para criar as linhas com informações únicas correspondentes
lista_index2 = list()

for elemento in lista_mult2:
    a = atck.loc[atck['Age'] == elemento]
    lista_index2.append(int(a['index']))

print(lista_index2)
print(len(lista_index2))

[623, 1478, 1758, 2000, 2432, 2480, 3475, 3731, 3896, 3966, 4045, 4071, 4072, 4076, 4562, 4977]
16

In [145]:
# Transformar cada string da lista em uma nova lista com 2 elementos:
# Cada elemento significa a idade individual de cada vítima de ataque
padrão = '[0-9][0-9]'
lista_ind2 = list()

for i in lista_mult2:
    a = re.findall(padrão, i)
    lista_ind2.append(a)

print(lista_ind2)
print(len(lista_ind2))

[['28', '26'], ['46', '34'], ['36', '26'], ['23', '20'], ['31'], ['32', '30'], ['12'], ['23', '26'], ['33', '37'], ['30', '32'], ['17', '35'], ['33', '26'], ['34', '19'], ['50', '30'], ['17', '16'], ['36', '23']]
16

In [26]:
# Encontrar as linhas que tem 3 vítimas registradas
padrão = '[ 0-9]+[, &]+[ 0-9]+[, &]+[ 0-9]+'
lista_mult3 = list()
for i in atck['Age']:
    try:
        if i in re.findall(padrão, i):
            lista_mult3.append(i)
    except:
        None
print(lista_mult3)
lista_mult3.pop()
print(lista_mult3)

['28, 23 & 30', '7      &    31']
['28, 23 & 30']

In [183]:
# Econtrar a indexação com as informações das linhas com informações múltiplas com 3 vítimas
# Vou precisar dessa informação para criar as linhas com informações únicas correspondentes
lista_index3 = list()

for elemento in lista_mult3:
    a = atck.loc[atck['Age'] == elemento]
    lista_index3.append(int(a['index']))

print(lista_index3)

[1456]

In [142]:
# Transformar cada string da lista em uma nova lista com 3 elementos:
# Cada elemento significa a idade individual de cada vítima de ataque
padrão = '[0-9][0-9]'
lista_ind3 = list()

for i in lista_mult3:
    a = re.findall(padrão, i)
    lista_ind3.append(a)

print(lista_ind3)

[['28', '23', '30']]

In [27]:
# Encontrar as linhas que tem 4 vítimas registradas
padrão = '[ 0-9]+[, &]+[ 0-9]+[, &]+[ 0-9]+[, &]+[ 0-9]+'
lista_mult4 = list()
for i in atck['Age']:
    try:
        if i in re.findall(padrão, i):
            lista_mult4.append(i)
    except:
        None
print(lista_mult4)
lista_mult4.pop(0)
print(lista_mult4)

['7      &    31', '21, 34,24 & 35']
['21, 34,24 & 35']

In [182]:
# Econtrar a indexação com as informações das linhas com informações múltiplas com 4 vítimas
# Vou precisar dessa informação para criar as linhas com informações únicas correspondentes
lista_index4 = list()

for elemento in lista_mult4:
    a = atck.loc[atck['Age'] == elemento]
    lista_index4.append(int(a['index']))

print(lista_index4)

[3951]

In [143]:
# Transformar cada string da lista em uma nova lista com 4 elementos:
# Cada elemento significa a idade individual de cada vítima de ataque
padrão = '[0-9][0-9]'
lista_ind4 = list()

for i in lista_mult4:
    a = re.findall(padrão, i)
    lista_ind4.append(a)

print(lista_ind4)

[['21', '34', '24', '35']]

### Deletar as linhas com informações múltiplas e criar as respectivas 'n' células com informações únicas

In [185]:
# Criar uma linha com as informações da linha múltipla
# Substituir o valor de 'Age', pelas informações únicas.
linha_623 = list()
linha_623.append(atck.iloc[623, 0])
linha_623.append(atck.iloc[623, 1])
linha_623.append(atck.iloc[623, 2])
linha_623.append(atck.iloc[623, 3])
linha_623.append(atck.iloc[623, 4])
linha_623.append(atck.iloc[623, 5])
linha_623.append(atck.iloc[623, 6])
linha_623.append(atck.iloc[623, 7])
linha_623.append(atck.iloc[623, 8])
linha_623.append(atck.iloc[623, 9])

print(linha_623)

linha_623_1 = linha_623[:]
linha_623_1[6] = 28

linha_623_2 = linha_623[:]
linha_623_2[6] = 26



print(linha_623_1)

print(linha_623_2)


# Deu certo! Agora precisa criar funções para fazer isso em grande escala!
# Depois precisa adicionar essas linhas no DataFrame e retirar as multiplas!

[2013.0, 'Unprovoked', 'PHILIPPINES', 'Palawan', 'Swimming to shore with floatioon devices after boat engine conked out', 'M', '28 & 26', 'Minor leg injuries', 'N', nan]
[2013.0, 'Unprovoked', 'PHILIPPINES', 'Palawan', 'Swimming to shore with floatioon devices after boat engine conked out', 'M', 28, 'Minor leg injuries', 'N', nan]
[2013.0, 'Unprovoked', 'PHILIPPINES', 'Palawan', 'Swimming to shore with floatioon devices after boat engine conked out', 'M', 26, 'Minor leg injuries', 'N', nan]

In [276]:
def info_mult(linha):
    '''Criar uma lista com todas as informações do index em que tem mais de uma informação
    no campo AGE'''
    
    infos = list()
    global atck
    infos.append(atck.iloc[linha, 0])
    infos.append(atck.iloc[linha, 1])
    infos.append(atck.iloc[linha, 2])
    infos.append(atck.iloc[linha, 3])
    infos.append(atck.iloc[linha, 4])
    infos.append(atck.iloc[linha, 5])
    infos.append(atck.iloc[linha, 6])
    infos.append(atck.iloc[linha, 7])
    infos.append(atck.iloc[linha, 8])
    infos.append(atck.iloc[linha, 9])    
    
    return infos

In [289]:
# Criar uma variável para cada linha em que AGE tem mais de uma informação
# rodar a função info_mult para cada linha dessa
linha_183 = info_mult(183)
linha_186 = info_mult(186)
linha_909 = info_mult(909)
linha_1765 = info_mult(1765)
linha_2059 = info_mult(2059)
linha_2324 = info_mult(2324)
linha_2719 = info_mult(2719)
linha_2775 = info_mult(2775)
linha_1743 = info_mult(1743)
print(linha_183)
print(linha_186)
print(linha_2059)

[2019.0, 'Unprovoked', 'AUSTRALIA', 'Queensland', 'Snorkeling', 'M', '28 & 22', 'N', '10h20', 'Tiger shark']
[2019.0, 'Invalid', 'AUSTRALIA', 'Queensland', 'Wading', 'F', '9 & 60', 'N', '09h30', 'Reported as shark attacks but injuries caused by toadfish']
[2003.0, 'Watercraft', 'SOUTH AFRICA', 'Western Cape Province', 'Fishing ', nan, '36 & 26', 'N', '09h40', '2 m cow shark']

In [8]:
# Criar função para isolar o STR em mais de um INT
import regex as re

def lista_idade(lista):
    '''Mapear o elemento AGE da lista criada pela função info_mult (index[6]) e isolar a STR
    em quantos INT tiverem ali dentro'''
    
    pattern = '[0-9]+'
    idade = list()
    idade = re.findall(pattern, lista[6])
    return idade

In [290]:
# Criar a lista com a idade das pessoas em uma única linha 
idades_183 = lista_idade(linha_183)
idades_186 = lista_idade(linha_186)
idades_909 = lista_idade(linha_909)
idades_1765 = lista_idade(linha_1765)
idades_2059 = lista_idade(linha_2059)
idades_2324 = lista_idade(linha_2324)
idades_2719 = lista_idade(linha_2719)
idades_2775 = lista_idade(linha_2775)
idades_1743 = lista_idade(linha_1743)

print(idades_183)
print(idades_1765)
print(idades_1743)

['28', '22']
['46', '34']
['28', '23', '30']

In [328]:
# Criar um jeito de adicionar as idade em duas novas listas

for i in idades_183:
    linha_183_1 = linha_183[:]
    linha_183_1[6] = i
    idades_183.pop(0)
    for i in idades_183:
        linha_183_2 = linha_183[:]
        linha_183_2[6] = i
        idades_183.pop(0)
    if len(idades_183) == 0:
        break
    else:
        for i in idades_183:
            linha_183_3 = linha_183[:]
            linha_183_3[6] = i
            idades_183.pop(0)


# O FOR funciona e as linhas separadas dos dois casos do index 183 estão na célula abaixo.
# Mas como fazer isso virar uma função?
# Se eu colocar do jeito que está em uma função, em cada loop que ela der vai sobrescrever,
# as informações da lista anterior
# preciso que em cada loop uma lista nova seja criada e armazenada no global. 
# Não tenho ideia de como fazer isso!!!!

In [329]:
# Conferindo se deu tudo certo:
print(linha_183_1)
print(linha_183_2)

[2019.0, 'Unprovoked', 'AUSTRALIA', 'Queensland', 'Snorkeling', 'M', '28', 'N', '10h20', 'Tiger shark']
[2019.0, 'Unprovoked', 'AUSTRALIA', 'Queensland', 'Snorkeling', 'M', '22', 'N', '10h20', 'Tiger shark']

In [303]:
print(a)

20 or 22

In [296]:
print(linhas_multiplas[0][0])

[2019.0, 'Invalid', 'AUSTRALIA', 'Queensland', 'Wading', 'F', '9 & 60', 'N', '09h30', 'Reported as shark attacks but injuries caused by toadfish']

In [287]:
# Confirmando todas as listas que já estão prontas:

print(linha_182_1)
print(linha_182_2)
print(linha_182_3)
print(linha_183_1)
print(linha_183_2)

# Listas para adicionar no DataFrame princial = atck
# e RETIRAR as respectivas antigas

[2019.0, 'Unprovoked', 'USA', 'Hawaii', 'Snorkeling', nan, 22, 'N', '10h40', "Galapagos shark, 5'-9'"]
[2019.0, 'Unprovoked', 'USA', 'Hawaii', 'Snorkeling', nan, 57, 'N', '10h40', "Galapagos shark, 5'-9'"]
[2019.0, 'Unprovoked', 'USA', 'Hawaii', 'Snorkeling', nan, 31, 'N', '10h40', "Galapagos shark, 5'-9'"]
[2019.0, 'Unprovoked', 'AUSTRALIA', 'Queensland', 'Snorkeling', 'M', '28', 'N', '10h20', 'Tiger shark']
[2019.0, 'Unprovoked', 'AUSTRALIA', 'Queensland', 'Snorkeling', 'M', '22', 'N', '10h20', 'Tiger shark']